/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none; }

.calendar__wrapper {
  background-color: #fafafa;
  text-align: center; }
  @media (min-width: 800px) {
    .calendar__wrapper {
      width: 760px; } }
  @media (max-width: 799px) {
    .calendar__wrapper {
      width: 375px; } }

.calendar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 800px) {
    .calendar {
      padding-top: 60px; } }
  @media (max-width: 799px) {
    .calendar {
      padding-top: 30px; } }

.calendar__year {
  width: 100%; }
  @media (min-width: 800px) {
    .calendar__year {
      margin-bottom: 30px;
      font-size: 32px; } }
  @media (max-width: 799px) {
    .calendar__year {
      margin-bottom: 15px;
      font-size: 16px; } }

.calendar__table {
  display: inline-block; }

.calendar__week {
  font-style: italic; }
  .calendar__week__day {
    display: inline-block; }

.calendar__day {
  text-align: center;
  display: inline-block;
  vertical-align: bottom; }

.is-today {
  background-color: orange; }

@media (min-width: 800px) {
  .calendar[data-type="year"] {
    font-size: 12px; } }

@media (max-width: 799px) {
  .calendar[data-type="year"] {
    font-size: 10px; } }

@media (min-width: 800px) {
  .calendar[data-type="year"] .calendar__table {
    padding: 15px; } }

@media (max-width: 799px) {
  .calendar[data-type="year"] .calendar__table {
    padding: 5px; } }

.calendar[data-type="year"] .calendar__month {
  text-align: left; }
  @media (min-width: 800px) {
    .calendar[data-type="year"] .calendar__month {
      margin: 0 0 4px 6px; } }
  @media (max-width: 799px) {
    .calendar[data-type="year"] .calendar__month {
      margin: 0 0 2px 3px; } }

.calendar[data-type="year"] .calendar__week {
  display: none; }

@media (min-width: 800px) {
  .calendar[data-type="year"] .calendar__day {
    width: 30px;
    height: 30px;
    line-height: 30px; } }

@media (max-width: 799px) {
  .calendar[data-type="year"] .calendar__day {
    width: 30px;
    height: 30px;
    line-height: 30px; } }

.calendar[data-type="year"] .is-thisMonth {
  color: orange; }

.calendar[data-type="year"] .js-zoom-month {
  cursor: pointer; }

@media (min-width: 800px) {
  .calendar[data-type="month"], .calendar[data-type="day"] {
    font-size: 32px; } }

@media (min-width: 800px) {
  .calendar[data-type="month"] .calendar__week__day, .calendar[data-type="day"] .calendar__week__day,
  .calendar[data-type="month"] .calendar__day, .calendar[data-type="day"] .calendar__day {
    width: 80px;
    height: 80px;
    line-height: 80px; } }

@media (max-width: 799px) {
  .calendar[data-type="month"] .calendar__week__day, .calendar[data-type="day"] .calendar__week__day,
  .calendar[data-type="month"] .calendar__day, .calendar[data-type="day"] .calendar__day {
    width: 40px;
    height: 40px;
    line-height: 40px; } }

.calendar[data-type="month"] .calendar__week__day[data-day-index], .calendar[data-type="day"] .calendar__week__day[data-day-index],
.calendar[data-type="month"] .calendar__day[data-day-index], .calendar[data-type="day"] .calendar__day[data-day-index] {
  color: #666; }

.calendar[data-type="month"] .calendar__week__day[data-dayofweek-type="0"], .calendar[data-type="day"] .calendar__week__day[data-dayofweek-type="0"],
.calendar[data-type="month"] .calendar__day[data-dayofweek-type="0"], .calendar[data-type="day"] .calendar__day[data-dayofweek-type="0"] {
  color: red; }

.calendar[data-type="month"] .calendar__week__day[data-dayofweek-type="6"], .calendar[data-type="day"] .calendar__week__day[data-dayofweek-type="6"],
.calendar[data-type="month"] .calendar__day[data-dayofweek-type="6"], .calendar[data-type="day"] .calendar__day[data-dayofweek-type="6"] {
  color: blue; }

.calendar[data-type="month"] .js-zoom-day, .calendar[data-type="day"] .js-zoom-day {
  cursor: pointer; }

.calendar[data-type="day"] .is-center {
  background-color: skyblue; }

.calendar[data-type="day"] .js-change-day {
  cursor: pointer; }
