extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block

  .calendar(data-type="year")
  .calendar(data-type="month")
  .calendar(data-type="day")
