// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

 *{
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
 }

 .calendar__wrapper{
    background-color: #fafafa;
    text-align: center;
    @include pc-layout{
        width: 760px;
    }
    @include sp-layout{
        width: 375px;
    }
 }

.calendar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include pc-layout{
        padding-top: 60px;
    }
    @include sp-layout{
        padding-top: 30px;
    }
}
.calendar__year{
    width: 100%;
    @include pc-layout{
        margin-bottom: 30px;
        font-size: 32px;
    }
    @include sp-layout{
        margin-bottom: 15px;
        font-size: 16px;
    }
}
.calendar__table{
    display: inline-block;
}
.calendar__month{
    // display: inline-block;
}
.calendar__week{
    font-style: italic;
    &__day{
        display: inline-block;
    }
}
.calendar__day{
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
}

.is-today{
    background-color: orange;
}

.calendar[data-type="year"]{
    $size_l: 30px;
    $size_s: 30px;
    @include pc-layout{
        font-size: 12px;
    }
    @include sp-layout{
        font-size: 10px;
    }
    .calendar__table{
        @include pc-layout{
            padding: 15px;
        }
        @include sp-layout{
            padding: 5px;
        }
    }
    .calendar__month{
        text-align: left;
        @include pc-layout{
            margin: 0 0 4px 6px;
        }
        @include sp-layout{
            margin: 0 0 2px 3px;
        }
    }
    .calendar__week{
        display: none;
    }
    .calendar__day{
        @include pc-layout{
            width: $size_l;
            height: $size_l;
            line-height: $size_l;
        }
        @include sp-layout{
            width: $size_s;
            height: $size_s;
            line-height: $size_s;
        }
    }
    .is-thisMonth{
        color: orange;
    }
    .js-zoom-month{
        cursor: pointer;
    }
}
.calendar[data-type="month"]{
    $size_l: 80px;
    $size_s: 40px;
    @include pc-layout{
        font-size: 32px;
    }
    .calendar__month{
    }
    .calendar__week__day,
    .calendar__day{
        @include pc-layout{
            width: $size_l;
            height: $size_l;
            line-height: $size_l;
        }
        @include sp-layout{
            width: $size_s;
            height: $size_s;
            line-height: $size_s;
        }
        // 日付部分
        &[data-day-index]{
            color: #666;
        }
        // 日
        &[data-dayofweek-type="0"]{
            color: red;
        }
        // 土
        &[data-dayofweek-type="6"]{
            color: blue;
        }
    }
    .js-zoom-day{
        cursor: pointer;
    }
}
.calendar[data-type="day"]{
    @extend .calendar[data-type="month"];

    .is-center{
        background-color: skyblue;
    }
    .js-change-day{
        cursor: pointer;
    }
}




