// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

 *{
     box-sizing: border-box;
 }

 .calendar__wrapper{
    background-color: #fafafa;
    text-align: center;
    @include pc-layout{
        width: 800px;
    }
    @include sp-layout{
        width: 375px;
    }
 }

.calendar{

}
.calendar__year{
    font-size: 24px;
    margin-top: 30px;
}

table{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    @include pc-layout{
    }
    @include sp-layout{
    }
}

tr{
    &.calendar__month{
        font-weight: bold;
    }
    &.calendar__week{
        font-style: italic;
    }
}


td{
    @for $i from 0 through 6 {
        &[data-dayofweek-type="#{$i}"]{

        }
    }

    &.is-today{
        background-color: orange;
    }
}


.calendar[data-type="year"]{
    @include pc-layout{
        font-size: 12px;
    }
    td{
        @include pc-layout{
            min-width: 30px;
            padding: 5px;
        }
    }
    .calendar__month{
        text-align: left;
    }
    .calendar__week{
        display: none;
    }
    .is-thisMonth{
        color: orange;
    }
    .js-zoom-month{
        cursor: pointer;
    }
}
.calendar[data-type="month"]{
    @include pc-layout{
        font-size: 32px;
    }
    td{
        @include pc-layout{
            min-width: 60px;
            min-height: 60px;
            padding: 15px;
        }
        // 日付部分
        &[data-day-index]{
            color: #666;
        }
        // 日
        &[data-dayofweek-type="0"]{
            color: red;
        }
        // 土
        &[data-dayofweek-type="6"]{
            color: blue;
        }
    }
    .js-zoom-day{
        cursor: pointer;
    }
}
.calendar[data-type="day"]{
    @include pc-layout{
        font-size: 32px;
    }
    .is-center{
        background-color: skyblue;
    }
    td{
        @include pc-layout{
            min-width: 60px;
            min-height: 60px;
            padding: 15px;
        }
        // 日付部分
        &[data-day-index]{
            color: #666;
        }
        // 日
        &[data-dayofweek-type="0"]{
            color: red;
        }
        // 土
        &[data-dayofweek-type="6"]{
            color: blue;
        }
    }
    .js-change-day{
        cursor: pointer;
    }
}




